{% extends "base.html.twig" %}

{% import "components/components.html.twig" as component %}

{% block title %}Pièces du Véhicule{% endblock %}
{% block description %}Découvrez la liste des pièces nécessaire pour réaliser le robot.{% endblock %}
{% block body %}
    <header class="container-fluid">
        <div class="row compoVehicule">
            <div class="col-12 py-5 composants-vehicule__header">
                <div class="text-center">
                    <h1 class="txtShadow--black txt-color--turquoise py-4 text-uppercase">Conception du robot</h1>
                    <h2 class="text-white txtShadow--black py-5">Liste des composants</h2>
                </div>
            </div>
        </div>
    </header>

    <main class="container mt-2 rounded">
        <article class="row text-white">
            <div class="col-12 composants">

                {{ component.cardRc(
                   "Plaque de plexiglass",
                    "/build/medias/images/composants/pexi.png",
                ) }}

                {{ component.cardRc(
                   "Arduino Mega",
                   "/build/medias/images/composants/arduino-mega.png",
                ) }}

                {{ component.cardRc(
                   "Raspberry",
                    "/build/medias/images/composants/raspberry.png",
                ) }}

                {{ component.cardRc(
                   "2X Module IBT-2",
                    "/build/medias/images/composants/ibt2.png",
                ) }}

                {{ component.cardRc(
                   "Emetteur Récepteur sans Fil 2.4G 1100m NRF24L01+PA+LNA avec antenne KY67",
                    "/build/medias/images/composants/emetteur-recepteur.png",
                ) }}

                {{ component.cardRc(
                   "Caméra infrarouge de vision nocturne",
                    "/build/medias/images/composants/camera.png",
                ) }}

                {{ component.cardRc(
                   "Nappe pour raccordement caméra",
                    "/build/medias/images/composants/nappe.png",
                ) }}

                {{ component.cardRc(
                   "Servomoteurs",
                    "/build/medias/images/composants/servomoteur.png",
                ) }}}

                {{ component.cardRc(
                   "MCP23017- utilise 2 broches I2C, pour ajouter 16 entrées/sorties à votre Arduino." ,
                    "/build/medias/images/composants/MCP23017-chip.png",
                ) }}

                {{ component.cardRc(
                   "Ecran LCD",
                    "/build/medias/images/composants/afficheur-lcd.png",
                ) }}

                {{ component.cardRc(
                   "Motoréducteur - 6V",
                    "/build/medias/images/composants/motoreducteur.png",
                ) }}

                {{ component.cardRc(
                   "Boitier piles 4 x 1,5V AA" ,
                    "/build/medias/images/composants/boitier-piles.png",
                ) }}

                {{ component.cardRc(
                   "Plaque de prototypage (Breadboard)",
                    "/build/medias/images/composants/breadboard.png",
                ) }}

                {{ component.cardRc(
                   "Circuit imprimé 4x6cm",
                    "/build/medias/images/composants/plaquesasouder.png",
                ) }}

                {{ component.cardRc(
                   "Cables pour plaque de prototypage",
                    "/build/medias/images/composants/cable.png",
                ) }}

                {{ component.cardRc(
                   "Potentiomètres",
                    "/build/medias/images/composants/potentiometre.png",
                ) }}

                {{ component.cardRc(
                   "Boutons pour potentiomètres",
                    "/build/medias/images/composants/Boutons-potentiometre.png",
                ) }}

                {{ component.cardRc(
                   "Résistances",
                    "/build/medias/images/composants/resistances.png",
                ) }}

                {{ component.cardRc(
                   "Led",
                    "/build/medias/images/composants/led.png",
                ) }}

                {{ component.cardRc(
                   "Pin strip Reglette a broches",
                    "/build/medias/images/composants/broches.png",
                ) }}

            </div>
        </article>

    </main>
{% endblock %}