{% extends 'base.html.twig' %}

{% block title %}Editer le sujet{% endblock %}
{% block description %}{% endblock %}
{# Ajoute l'icone de connection #}
{% block userAccount %}{% include "includes/connect.html.twig" %}{% endblock %}

{% block body %}
<section class="container">
    <div class="row my-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_users') }}">Administration</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{author}}</li>
                </ol>
            </nav>
            <h1>Editer le sujet</h1>
            <div class="mt-4 p-4 border shadow rounded">
                {{ form_start(subjectForm) }}
                    {{ form_row(subjectForm.title) }}
                    {{ form_row(subjectForm.description) }}
                    {{ form_row(subjectForm.save,{
                        'label':'Enregistrer les modifications',
                    }) 
                }}
                {{ form_end(subjectForm) }}
                {# {{ form(subjectForm) }} #}
            </div>
        </div>
    </div>
</section>  
{% endblock %}