{% extends 'base.html.twig' %}

{% block title %}Editer un commentaire{% endblock %}
{% block description %}{% endblock %}
{# Ajoute l'icone de connection #}
{% block userAccount %}{% include "includes/connect.html.twig" %}{% endblock %}

{% block body %}
<section class="container">
    <div class="row my-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_users') }}">Administration</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{author}}</li>
                </ol>
            </nav>
            <h1>Editer le commentaire</h1>
            <div class="mt-4 p-4 border shadow rounded">
                {{ form_start(commentForm) }}
                {{ form_row(commentForm.message) }}
                {{ form_row(commentForm.save,{
                    'label':'Enregistrer les modifications',
                }) 
                }}
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>
</section>  
{% endblock %}