{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block description %}{% endblock %}
{# Ajoute l'icone de connection #}
{% block userAccount %}{% include "includes/connect.html.twig" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 p-3">
            <h1 class="text-center">Services d'administreur</h1>
        </div>

        <div class="col-12 p-5">
            <h3 class=" p-3">
                Liste des comptes utilisateurs {{usersPagination|length}} sur un total de {{ usersPagination.getTotalItemCount }}
            </h3>
            
            <table class="table">
                <thead>
                    <tr>
                        <th {% if usersPagination.isSorted('id') %} class="font-italic bgColor--greenExtraLight"{% endif %}>
                            {{ knp_pagination_sortable(usersPagination, 'Id', 'id') }}
                        </th>
                        <th scope="col" {% if usersPagination.isSorted('author') %} class="font-italic bgColor--greenExtraLight"{% endif %}>
                            {{ knp_pagination_sortable(usersPagination, 'Utilisateurs', 'author') }}
                        </th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Sujets</th>
                        <th scope="col">Réponses</th>
                        <th scope="col" {% if usersPagination.isSorted('createdAt') %} class="font-italic bgColor--greenExtraLight"{% endif %}>
                            {{ knp_pagination_sortable(usersPagination, 'Créé le', 'createdAt') }}
                        </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in usersPagination %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="{{ path('admin_user_subjects',{'id': user.id}) }}">{{user.author}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{# On boucle sur les rôles #}
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    Utilisateur
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editeur
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('admin_user_subjects',{'id': user.id}) }}">{{user.subjects|length}}</a></td>
                        <td><a href="{{ path('admin_user_comments',{'id': user.id}) }}">{{user.comments|length}}</a></td>
                        <td>{{user.createdAt|format_datetime('full', 'short', timezone ='Europe/Paris', locale='fr')}}</td>
                        <td class="d-flex flex-nowrap justify-content-between">
                            <div class="mx-1">
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#delete_{{user.id}}">
                                    <img src="{{asset("/build/medias/images/icon/trash.png")}}" width="25">
                                </button>
                                <div class="modal" id="delete_{{user.id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-danger">Demande de confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Etes-vous certain de vouloir supprimer le compte de : <span
                                                        class="font-weight-bold font-italic">{{user.author}}</span> <br>
                                                        Les sujets et commentaires liés seront supprimés !
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_user_delete', {'id':user.id}) }}" class="btn btn-outline-danger">
                                                    <img src="{{asset("/build/medias/images/icon/trash.png")}}" width="25">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="{{ path('admin_user_update', {'id': user.id}) }}" class="btn btn-outline-danger">
                                    <img src="{{asset("/build/medias/images/icon/update.png")}}" width="25">
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(usersPagination) }}
        </div>
    </div>
</div>
{% endblock %}