<div class="container navigation" id="anchor">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{'/'}}"><img src="{{ asset('/build/images/icon/robots.gif') }}" alt=""
                width="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{'/' }}">Projet robotique<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Conception des télécommandes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown text-left">
                            <a class="dropdown-item"
                                href="{{'/telecommande/solution-materiel-et-logiciel.html' }}">Solution matériel et
                                logiciel</a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown text-left">
                            <span class="dropdown-item text-danger font-weight-bold">Solution logiciel</span>
                            <a class="dropdown-item" href="{{'/telecommande/telecommande-web.html' }}">Télécommande
                                web</a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown text-left">
                            <span class="dropdown-item text-danger font-weight-bold">Solution Matérielle</span>
                        </div>
                        <a class="dropdown-item" href="{{'/telecommande/liste-des-composants.html'  }}">Les
                            composants</a>
                        <div class="dropdown">
                            <span class="dropdown-item text-danger font-weight-regular">Arduino</span>
                        </div>
                        <a class="dropdown-item" href="{{'/telecommande/emetteur-recepteur-radio.html' }}">Emetteur
                            Récepteur NRF24L01</a>
                        <a class="dropdown-item" href="{{'/telecommande/diode-electroluminescente.html' }}">Alimenter
                            une LED</a>
                        <a class="dropdown-item" href="{{'/telecommande/code-source-arduino.html' }}">Le code source</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNext" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Conception du robot
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownNext">
                        <a class="dropdown-item" href="{{ '/robot/liste-des-composants.html' }}">Les composants</a>
                        <div class="dropdown">
                            <span class="dropdown-item text-danger font-weight-regular">Raspberry</span>
                        </div>
                        <a class="dropdown-item" href="{{ '/robot/creer-un-hotspot-WiFi.html' }}">Créer un hotspot
                            Wi-Fi</a>
                        <a class="dropdown-item" href="{{ '/robot/installer-et-configurer-une-camera.html' }}">Installer
                            une caméra</a>
                        <div class="dropdown">
                            <span class="dropdown-item text-danger font-weight-regular">Arduino</span>
                        </div>
                        <a class="dropdown-item" href="{{ '/robot/code-source-arduino.html' }}">Le code source</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#footer" role="button">
                        Contact
                    </a>
                </li>
            </ul>


        </div>

        <form class="form-inline my-2 my-md-0 mr-3" method="post">
            
            {% if app.user %}
                <div class="dropdown">
                    <a class="btn dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <img src="{{ asset('/build/images/icon/connexion.png') }}" alt="connecté" width="45" class="navigation__connect">
                            {{ app.user.author }}
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink01">
                        <a class="dropdown-item" href="#">Mon profil</a>
                        <a class="dropdown-item" href="#">{{dump(app.user.comments)}}</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>
            {% else %}
                <!-- Button trigger modal -->
                <a class="" href="/login">
                    <img src="{{ asset('/build/images/icon/connexion.png') }}" alt="connecté" width="50" class="navigation__connect">
                </a>
            {% endif %}
        </form>

    </nav>
</div>