{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}
{% block description %}Accédez à votre profil{% endblock %}

{% block body %}
    <div class="container">
        <!-- {% if app.user %} -->
        <div class="row border">
            <div class="col-12 ">
            <h3 class="text-center">Profil</h3>
            </div>
            <div class="col-12">
                <ul>
                    <li>Nom: {{app.user.author}}</li>
                    <li>email: {{app.user.email}}</li>
                </ul>
            </div>  
        </div>
        <div class="row border mt-2">
            <div class="col-12">
                <h5 class="text-info">Ajouter un sujet</h5>
                {{ form_start(subjectsform) }}
                    {{ form_row(subjectsform.title,
                        {
                            'attr': {'class': 'form-control'},
                            'required': true,
                            'label':'Titre du sujet',
                        })
                    }}
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-outline-dark mt-2">Register</button>
                    </div>
                {{ form_end(subjectsform) }}
                
            </div>
        </div>
        <!-- {% endif %} -->
    </div>
{% endblock %}