{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le forum{% endblock %}
{% block description %}Vous avez besoin d'aide avec votre Raspberry Pi ou Arduino ? Ce forum est fait pour vous
!{% endblock %}

{# Ajoute l'icone de connection #}
{% block userAccount %}{% include "includes/connect.html.twig" %}{% endblock %}

{% block body %}
<article class="forum">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 py-5 telecommand__header">
        <div class="text-center">
          <h1 class="txtShadow--white txt-color--raspberry py-4 text-uppercase">Bienvenue sur le forum</h1>
          <h2 class="text-warning txtShadow--black py-5 text-center">
            Vous avez besoin d'aide avec votre <br> Raspberry Pi ou Arduino ?
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% if app.user %}
    <div class="row">
      <div class="col-12 border mt-4 p-3">
        <h5 class="text-info d-flex justify-content-around">
         <a class="btn btn-outline-success" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
            Poster un nouveau un sujet
          </a>
          <a class="btn btn-outline-dark" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">Mon compte et paramètre
          </a>
        </h5>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                {{ form_start(subjectsform) }}
                  {{ form_row(subjectsform.title,
                    {
                      'attr': {'class': 'form-control','required':''},
                      'required': true,
                      'label':'Titre du sujet',
                      'label_attr': {'class': ''},
                    })
                  }}
                  {{ form_row(subjectsform.description,
                    {
                      'attr': {'class': 'form-control','required':''},
                      'required': true,
                      'label':'Description',
                      'label_attr': {'class': 'mt-3'},
                    })
                  }}
                  <div class="col-auto my-1">
                    <button type="submit" class="btn btn-outline-dark mt-2">Créer</button>
                  </div>
                {{ form_end(subjectsform) }}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body">
                <div class="form-group">
                  <label for="inputAuthor">Nom ou pseudo</label>
                  <input class="form-control" type="text" id="inputAuthor" placeholder="" value="{{ app.user.author }}" readonly>
                </div>
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Saisir votre adresse émail" value="{{ app.user.email }}" readonly>
                </div>
                <div class="form-group">
                  <label for="inputPassword">Mot de passe</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="{{ app.user.password }}" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row border mt-4">
      <div class="col-12 p-3">
        {% include "includes/charteForum.html.twig" %}
      </div>
      <div class="col-12 p-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col font-weight-light">{{subjects|length}} Sujet(s)</th>
              <th scope="col">Description</th>
              <th scope="col">Auteur</th>
              <th scope="col">Reponses</th>
              <th scope="col">Crée depuis...</th>
            </tr>
          </thead>
          <tbody>
            {% if subjects %}
              {% for subject in subjects %}
              <tr>
                <td><a href="{{'/forum/' ~ subject.slug}}">{{subject.title}}</a></td>
                <td>{{subject.description|slice(0,200)}}...</td>
                <td>{{subject.user.author}}</td>
                <td>{{subject.comments|length}}</td>
                <td>{{ dateDiff(subject.createdAt|date("m/d/Y H:i", "Europe/Paris")) }}</td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>

{% endblock %}