{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le forum{% endblock %}
{% block description %}Vous avez besoin d'aide avec votre Raspberry Pi ou Arduino ? Ce forum est fait pour
vous!{% endblock %}

{# Ajoute l'icone de connection #}
{% block userAccount %}{% include "includes/connect.html.twig" %}{% endblock %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('forum_subjects') }}">Forum</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ subject.title }}</li>
        </ol>
    </nav>
    <div class="row border border-secondary rounded mb-3">
        <div class="col-12 p-3 text-white bgColor--raspberry">
            <h3 class="font-weight-bold">{{ subject.title }}</h3>
            <div class="d-flex flex-row justify-content-between">
                <p class="font-weight-bold">{{ subject.user.author }}</p>
                <p class="font-weight-light font-italic">
                    {{ subject.createdAt|format_datetime('full', 'none', timezone ='Europe/Paris', locale='fr') }}</p>
            </div>
        </div>
        <div class="col-12 py-2">
            {% if app.user %}
            <p>
                <a class="btn btn-outline-dark" data-toggle="collapse" href="#repondre" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Ajouter un commentaire
                </a>
            </p>
            <div class="collapse" id="repondre">
                <div class="card card-body bgColor--blueSky">
                    {{form(commentsForm)}}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-12 p-3">
            {{subject.description|nl2br}}
        </div>

        <div class="col-12 p-3 border d-flex">
            <div class="p-2 text-center">
                <p>crée</p>
                <p>{{subject.createdAt|format_datetime('short', 'none', timezone ='Europe/Paris', locale='fr')}}</p>

            </div>
            <div class="p-2 text-center">
                <p>réponse</p>
                {# <p>{{ subject.comments|sort dateDiff(subject.comments[0].createdAt|date("m/d/Y H:i", false)) }}</p> #}

            </div>
            <div class="p-2 text-center">
                <p>{{subject.comments|length}}</p>
                <p>réponses</p>
            </div>


        </div>
    </div>
    {# COMMENTAIRES #}
    {% for comment in subject.comments|sort((a, b) => b.createdAt <=> a.createdAt) %}
    <div class="row border my-3 rounded">
        <div class="col-12 bgColor--blueSky p-3 d-flex flex-row justify-content-between">
            <h3 class="font-weight-bold">{{comment.user.author}}</h3>
            <p class="font-weight-light font-italic">{{ dateDiff(comment.createdAt|date("m/d/Y H:i",false)) }}
            </p>
        </div>
        <div class="col-12 p-3">
            {# {{comment.message|raw}} #}
            {{comment.message|nl2br}}
        </div>
        <div class="col-12 p-3">
            <p class="text-secondary font-italic">{{comment.createdAt|format_datetime('full', 'short', timezone ='Europe/Paris', locale='fr')}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}